# Node
node_modules/
dist/
dist-ssr/
*.local

# Laravel
/vendor
/.env
/.env.*.local
/.phpunit.result.cache
/public/storage
/public/hot
/public/build
/storage/*.key
/bootstrap/cache/*.php
.phpunit.result.cache

# System/IDE
.DS_Store
.idea/
.vscode/
*.swp
